@media (min-width: 701px) {

  nav.mobile {
    display: none;
  }

}

@media (max-width: 700px) {

  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    }

  nav.mobile ul {

  }

  nav.mobile nav.left, nav.mobile nav.right{
    width: 20%;
    margin: 0 20px;
  }


}